.container {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button {
  font-family: inherit;
  padding: 0 .5rem;
}

footer {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: brown;
}

a {
  color: rgb(25, 96, 201);
}